asgiref
boto3
botocore
certifi
cffi
cryptography
dj-database-url
Django
django-anymail
django-cors-headers
django-jazzmin
django-storages
django-ckeditor
djangorestframework
djangorestframework-jwt
django-environ
drf-yasg
environs
gunicorn
idna
inflection
jmespath
marshmallow
packaging
pycparser
pyjwt
python-dateutil
python-dotenv
pytz
pyyaml
requests
s3transfer
shortuuid
six
sqlparse
stripe
typing_extensions
tzdata
uritemplate
urllib3
psycopg2
charset



